<form class="form" id="cargar_base" enctype="multipart/form-data">
    <label class="label">
        Selecciona una base
        <select class="select" name="tabla" required>
            <option value="">----------------</option>
            <option value="cuentas_consultar">Cuentas</option>
            <option value="numeros_consultar">Numeros</option>
        </select>
    </label>

    <div class="container">
        <label class="label" for="picture">Evidencia</label>
        <input class="input" type="file" name="archivos" id="archivos" accept="" required/>
    </div>

    <button class="boton">Cargar base</button>
</form>

<div class="🤚" id="loader">
	<div class="👉"></div>
	<div class="👉"></div>
	<div class="👉"></div>
	<div class="👉"></div>
	<div class="🌴"></div>		
	<div class="👍"></div>
</div>