<form method="POST" class="form" id="descargar_base">
    <h1>Buscador Personalizado</h1>
    <label class="label label2">Seleccione la tabla:
        <select id="tabla" name="tabla" required class="select">
            <option value="">Seleccione una tabla</option>
            <option value="historico_cuentas">Cuentas Detalle</option>
            <option value="numeros_detalle">Números Detalle</option>
        </select>
    </label>

    <div class="hola-bb">
        <div id="columnas" class="columnas"></div>
        <div id="opciones" class="opciones"></div>
    </div>
    <input class="boton" type="submit" value="Buscar">
</form>

<div id="resultado"></div>